<template name="performersSearch">          
  <h3 class="ui dividing header">Show Dates and Performers</h3>
  <div class="controls" id="dates">
	  {{#each numShowDates}}
		  {{#if display}}
			<div id="{{id}}" class="field item">
			  <label class="control-label" for="date">Date</label>
			  <div class="fields">
				<div class="twelve wide field">
					<div class="ui icon input fluid">
						<i class="icon calendar"></i>
						<input name="showdate" id="date{{id}}" type="text" placeholder="Enter show date" class="set-due-date form-control" style="display:inline-block"/>
					</div>
				</div>
				<div class="four wide field">
					<input type="button" value="Remove Date" id="remove{{id}}" remove="{{id}}" class="btn removeDate" style="display:inline-block"/>
				</div>
			  </div>
			  <div>
				<label class="control-label" for="performers">Performers</label>
					<div class="controls">
						<select class="ui fluid search dropdown" multiple="" id="performersSearch" name="performersSearch">
							<option value="">Select Performers</option>
							{{#each performers}}
								<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
						<span> If the group or person is not listed encourage them to create a profile or add their group. You can add still add their name, but it won't link to a profile.</span>
					</div>
			  </div>
			</div>
		  {{/if}}
	  {{/each}}
	  <input type="button" value="Add Date" class="btn" id="btnAddDate"/>
  </div>
</template>