<template name="home">
    {{> search}}
</template>

<template name="search">
	<div class="ui main grid-block">
        <div class="ui gray top attached label big searchlabel">
			Search Criteria
		</div>
		<br/>
		<br/>
		<div class="ui three column very relaxed grid" id="searchCriteria">
		  <div class="column">
			<div class="content">
				<div class="header">Keywords</div>
				<div class="ui input fluid">
					<input type="text" placeholder="Search..." id="search"/>
				</div>
			</div>
		  </div>
		  <div class="column">
			<div class="content">
			  <div class="header">Location</div>
			  <div class="ui input fluid">
				<input name="addressSearch" id="addressSearch" type="text" value="" placeholder="Enter address" autocomplete="off" autocorrect="off"/>
			  </div>
			  <div class="geolocation">
				<input type="hidden" name="lat" id="lat" value=""/>
				<input type="hidden" name="lng" id="lng" value=""/>
				<input name="formatted_address" type="hidden" value=""/>
			  </div>
			  <div class="header">Radius</div>
			  <div class="ui input fluid">
				<input name="radius" id="radius" type="number" placeholder="Enter radius..."/>
			  </div>
			</div>
		  </div>
		  <div class="column">
			<div class="header">Start Date</div>
			<div class="ui input fluid">
				<input type="datetime-local" placeholder="Start date and time..." name="startdate" id="startdate"/>
			</div>
			<div class="header">End Date</div>
			<div class="ui input fluid">
				<input type="datetime-local" placeholder="End date and time..." name="enddate" id="enddate"/>
			</div>
		  </div>
		</div>
	</div>

    <div class="ui four item menu">
      <a class="item {{showsActive}} searchmenuitem" name="shows">Shows</a>
      <a class="item {{groupsActive}} searchmenuitem" name="groups">Groups</a>
      <a class="item {{peopleActive}} searchmenuitem" name="people">People</a>
      <a class="item {{venuesActive}} searchmenuitem" name="venues">Venues</a>
    </div>
    {{#if showsSelected}}
        <a href={{pathFor 'showSubmit'}} class="ui fluid grey addItem button">Add Show</a>
        {{> showList}}
    {{/if}}
    {{#if groupsSelected}}
        <a href={{pathFor 'groupSubmit'}} class="ui fluid grey addItem button">Add Group</a>
        {{> groupList}}
    {{/if}}
    {{#if peopleSelected}}
		<div class="post">
			Note: We don't have an ability to add a person outside of filling out your profile. If you want to add a person that is not currently in our system, then either encourage them to join or when creating the group or show just type in their name. It won't add them to our system, but they will appear as a member on your team or performer in your show.
		</div>
        {{> peopleList}}
    {{/if}}
    {{#if venuesSelected}}
        <a href={{pathFor 'venueSubmit'}} class="ui fluid grey addItem button">Add Venue</a>
        {{> venueList}}
    {{/if}}
</template>