<template name="socialMediaAdd">
	<div class="socialmediainputs form-group">
		<h3 class="ui dividing header">Social Media</h3>
		<div class="controls">
			<div class="ui fluid left icon input">
				<input class="form-control" id="facebook" name="facebook" placeholder="Enter Facebook url..."/>
				<i class="facebook icon"></i>
			</div>
			<div class="ui fluid left icon input">
				<input class="form-control" id="twitter" name="twitter" placeholder="Enter Twitter url..."/>
				<i class="twitter icon"></i>
			</div>
			<div class="ui fluid left icon input">
				<input class="form-control" id="tumblr" name="tumblr" placeholder="Enter Tumblr url..."/>
				<i class="tumblr icon"></i>
			</div>
			<div class="ui fluid left icon input">
				<input class="form-control" id="googleplus" name="googleplus" placeholder="Enter Google Plus url..."/>
				<i class="google plus icon"></i>
			</div>
			<div class="ui fluid left icon input">
				<input class="form-control" id="youtube" name="youtube" placeholder="Enter YouTube channel url..."/>
				<i class="youtube icon"></i>
			</div>
			<div class="ui fluid left icon input">
				<input class="form-control" id="youtube" name="youtube" placeholder="Enter Vimeo url..."/>
				<i class="vimeo icon"></i>
			</div>
		</div>
	</div>
</template>