<Template name="imageUpload">
    <h3 class="ui dividing header">Pictures</h3>
    <div class="field">
        <label for="file" class="ui icon button" name="uploadIcon">
            <i class="file icon" ></i>
            Open File</label>
         <input type="file" name="imageUpload" accept="image/*" multiple style="display:none"/>
    </div>
    {{#if hasImages}}
        <label>Choose Featured Image</label>
        <div id="imageUploadDiv" class="ui fluid">
            <div class="innerDiv">
                {{#each images}}
                    <div class="inline fields">
                        {{#if image1}}
                            {{#with image1}}
                                {{>imageSelectionItem}}
                            {{/with}}
                        {{/if}}
                        {{#if image2}}
                            {{#with image2}}
                                {{>imageSelectionItem}}
                            {{/with}}
                        {{/if}}
                        {{#if image3}}
                            {{#with image3}}
                                {{>imageSelectionItem}}
                            {{/with}}
                        {{/if}}
                        {{#if image4}}
                            {{#with image4}}
                                {{>imageSelectionItem}}
                            {{/with}}
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</Template>
