
<Template name="imageSelectionItem">
    <div class="field inline">
        {{#if this}}
            <div class="ui radio checkbox">
                <input type="radio" name="primary" style="top:-3px;left:18px" id="{{public_id}}" title="Set Featured Image">
                <label for="primary">
                    {{>imageDisplayItem}}
                </label>
            </div>
            <a name="deleteImage" class="ui right red tiny icon" id="{{public_id}}">
                <i class="icon remove circle red" title="Delete Image" style="cursor:pointer"></i>
            </a>
            
        {{/if}}
    </div>
</Template>