<template name="showSubmit">
    <form class="ui main form page">
        <div class="ui gray top attached label massive form-header">
            Submit Show
	    </div>
        <br/>
	    <br/>
        <h3 class="ui dividing header">General Info</h3>
        <div class="form-group {{errorClass 'name'}}">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
              <input name="name" id="name" type="text" value="" placeholder="Enter show name" class="form-control"/>
              <span class="help-block">{{errorMessage 'name'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'description'}}">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
              <textarea name="description" id="description" value="" placeholder="Enter show description" class="form-control"></textarea>
              <span class="help-block">{{errorMessage 'description'}}</span>
          </div>
        </div>

        <div class="form-group {{errorClass 'venue'}}">
          <label class="control-label" for="venue">Venue</label>
          <div class="controls">
              {{> venueSearch}}
              <span>If you don't see your venue listed you can add it <a href="{{pathFor 'venueSubmit'}}">here</a>.</span>
              <span class="help-block">{{errorMessage 'venue'}}</span>
          </div>
        </div>
        <div class="form-group" style="display:inline-block">
            <div class="ui checked checkbox">
                <input type="checkbox" checked="" id="acceptsSubmissions" name="acceptsSubmissions" style="display:inline-block"/>
                <label for="acceptsSubmissions" style="display:inline-block">Accepts Submissions</label>
            </div>
            <div class="ui">
                <label class="control-label" style="display:inline-block">Ticket Price</label>
                <input id="ticketPrice" name="ticketPrice" type="text" placeholder="Enter a ticket price" style="display:inline-block"/>
            </div>
        </div>
        <div class="form-group {{errorClass 'date'}}">
          <h3 class="ui dividing header">Show Dates and Performers</h3>
          <div class="controls" id="dates">
              {{#each numShowDates}}
              {{#if display}}
                <div id="{{id}}">
                  <label class="control-label" for="date">Date</label>
                  <div class="row-fluid" display="inline-block">
                    <input name="showdate" id="date{{id}}" type="datetime-local" value="" placeholder="Enter show date" class="form-control show-date-control" style="display:inline-block"/>
                    <input type="button" value="Remove Date" id="remove{{id}}" remove="{{id}}" class="btn removeDate" style="display:inline-block"/>
                  </div>
                  <div>
                    <label class="control-label" for="performers">Performers</label>
                        <div class="controls">
                            {{> performersSearch}}
                            <span> If the group or person is not listed encourage them to create a profile or add their group.</span>
                            <span class="help-block">{{errorMessage 'performers'}}</span>
                        </div>
                  </div>
                </div>
              {{/if}}
              {{/each}}
              <input type="button" value="Add Date" class="btn" id="btnAddDate"/>
              <span class="help-block">{{errorMessage 'date'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'videos'}}">
            {{>videoAdd}}
        </div>
        <div class="form-group {{errorClass 'socialmedia'}}">
            {{>socialMediaAdd}}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>

