<template name="showPage">
	<div class=" wrapper ui items">
		{{> showItem}}
	</div>
    <div class="show main">
	<h3 class="ui dividing header">Show Info</h3>
	
    <h3 class="ui dividing header">Show Dates</h3>
    <div class="ui list">
        {{#each dates}}
            <div class="item" id="{{id}}">
                {{formatDateString}}
                <div class="ui list">
                    {{#each performersList}}
                        {{#if isGroup}}
							<div class="item">
								<a href={{pathFor 'groupPage'}}>{{name}}</a>
							</div>
                        {{/if}}
                        {{#if isPerson}}
							<div class="item">
								<a href={{pathFor 'personPage'}}>{{name}}</a>
							</div>
                        {{/if}}
                    {{/each}}
                </div>
				{{#if acceptsSubmissions}}
					<button class="btn requestSlot">Request Slot</button>
					<span>{{pluralize numberRequests 'Request'}}</span>
					<div class="ui custom popup top left transition fluid" id={{id}}>
                        <form class="ui form">
                        <div class="ui gray top attached label big form-header">
                            Request Slot For
	                    </div>
                        <br/>
                        <br/>
                        <br/>
						<div class="ui grid fluid">
                            <div class="six wide column">
                                <h4>Yourself</h4>
                                <div class="ui list">
                                    {{#each currentUser}}
                                        <div class="item">
                                            <div class="field">
                                                <div class="ui checkbox {{disabledPersonClass}}" title="{{personTitle}}">
                                                    <input type="checkbox" id="{{_id}}" name="chooseYourself" style="left:20px;bottom:25px;" {{disabledPersonAttribute}}/>
                                                    <label for="chooseYourself">{{name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="six wide column">
                                <h4>Your Group</h4>
                                <div class="ui list">
                                    {{#each userGroups}}
                                        <div class="item">
                                            <div class="field">
                                                <div class="ui checkbox {{disabledGroupClass}}" title="{{groupTitle}}">
                                                    <input type="checkbox" id="{{_id}}" name="chooseGroup" style="left:20px;bottom:25px;" {{disabledGroupAttribute}}/>
                                                    <label for="chooseGroup">{{name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="four wide column">
                                <br/>
								<div class="field">
									<button class="ui button request fluid">Send Request</button>
								</div>
								<div class="field">
									<button class="ui button btnclose fluid">Close</button>
								</div>
                            </div>
						</div>
                        </form>
					</div>
				{{/if}}
				{{#if isAdmin}}
					<button class="btn viewRequests">View Requests</button>
					<span>{{pluralize numberRequests 'Request'}}</span>
					<div class="ui custom popup top left transition fluid" id={{id}}>
						<div class="ui grid fluid">   
							{{#with requests}}
								<div class="six wide column">
									<h4>People</h4>
									<div class="ui list">
									{{#each people}}
										{{#with getPerson}}
											<div class="item">
												<a href={{pathFor 'personPage'}}>{{name}}</a> 
												<select id={{_id}} value={{status}} class="ui dropdown personstatusddl">
													<option value="Pending">Pending</option>
													<option value="Accepted">Accepted</option>
													<option value="Declined">Declined</option>
												</select>
											</div>
										{{/with}}
									{{/each}}
									</div>
								</div>
								<div class="six wide column">
									<h4>Groups</h4>
									<div class="ui list">
									{{#each groups}}
										{{#with getGroup}}
											<div class="item group" >
												<a href={{pathFor 'groupPage'}}>{{name}}</a> 
												<select  id={{_id}} value={{status}} class="ui dropdown groupstatusddl" name={{id}} >
													<option value="Pending">Pending</option>
													<option value="Accepted">Accepted</option>
													<option value="Declined">Declined</option>
												</select>
											</div>
										{{/with}}
									{{/each}}
									</div>
								</div>
								<div class="two wide column">
									<button class="ui button updateRequests" id={{id}} style="alignment:right">Update</button>
								</div>
							{{/with}}
						</div>
					</div>
				{{/if}}
            </div>
        {{/each}}
    </div>
    </div>
	{{>imageDisplay}}
    {{> socialMediaDisplay}}
    {{> videoDisplay}}
</template>