<template name="showEdit">
    <form class="ui main form page">
        <div class="ui gray top attached label massive form-header">
            Edit Show
	    </div>
        <br/>
	    <br/>
        <h3 class="ui dividing header">General Information</h3>
        <div class="form-group {{errorClass 'name'}}">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
              <input name="name" id="name" type="text" value="{{name}}" placeholder="Enter show name" class="form-control"/>
              <span class="help-block">{{errorMessage 'name'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'description'}}">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
              <input name="description" id="description" type="textarea" value="{{description}}" placeholder="Enter show description" class="form-control"/>
              <span class="help-block">{{errorMessage 'description'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'venue'}}">
          <label class="control-label" for="venue">Venue</label>
          <div class="controls">
              {{> venueSearch}}
              <span>If you don't see your venue listed you can add it <a href="{{pathFor 'venueSubmit'}}">here</a>.</span>
              <span class="help-block">{{errorMessage 'venue'}}</span>
          </div>
        </div>
		<div class="form-group">
            <label class="control-label" for="website">Website</label>
            <div class="ui fluid input">
                <input id="website" name="website" placeholder="Enter the website..." value="{{website}}"/>
            </div>
        </div>
        {{>administratorsSelect}}
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label class="control-label">Ticket Price</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input id="ticketPrice" name="ticketPrice" type="number" placeholder="Enter a ticket price" value="{{ticketPrice}}"/>
                    </div>
               </div>
               <div class="field">
                    <label class="control-label">Ticket Link</label>
                    <div class="ui labeled input">
                        <div class="ui label">http://</div>
                        <input id="ticketLink" name="ticketLink" type="text" placeholder="Enter link for ticket information..." value="{{ticketLink}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <br/>
            <div class="ui checkbox">
                <input type="checkbox" checked="{{acceptsSubmissions}}" id="acceptsSubmissions" name="acceptsSubmissions" />
                <label for="acceptsSubmissions">Accepts Submissions</label>
            </div>
        </div>
        <div class="form-group {{errorClass 'date'}}">
			{{>performersSearch}}
        </div>
		<div class="form-group {{errorClass 'photos'}}">
			{{>imageUpload}}
		</div>
        <div class="form-group {{errorClass 'videos'}}">
            {{>videoAdd}}
        </div>
        <div class="form-group {{errorClass 'socialmedia'}}">
            {{>socialMediaAdd}}
        </div>
        <div class="form-group {{errorClass 'tags'}}">
            {{>tags}}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
		<hr/>
		<a class="btn btn-danger delete" href="#">Delete Show</a>
    </form>
</template>
