<template name="showPage">
    {{> showItem}}
    <div class="show">
    <h3 class="ui dividing header">Show Dates</h3>
    <div class="ui list">
        {{#each dates}}
            <div class="item">
                {{formatDateString}}
                <div class="ui list">
                    {{#each performersList}}
                        {{#if isGroup}}
                            <a href={{pathFor 'groupPage'}} class="item">{{name}}</a>
                        {{/if}}
                        {{#if isPerson}}
                            <a href={{pathFor 'personPage'}} class="item">{{name}}</a>
                        {{/if}}
                    {{/each}}
                </div>
				{{#if acceptsSubmissions}}
					<button class="btn requestSlot">Request Slot</button>
					<div class="ui custom popup top left transition fluid" id={{id}}>
                        <form class="ui form">
                        <div class="ui gray top attached label big form-header">
                            Request Slot For
	                    </div>
                        <br/>
                        <br/>
                        <br/>
						<div class="ui grid fluid">
                            <div class="six wide column">
                                <h4>Yourself</h4>
                                <div class="ui list">
                                    {{#each currentUser}}
                                        <div class="item">
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" id="{{_id}}" name="chooseYourself" style="left:20px;bottom:25px;"/>
                                                    <label for="chooseYourself">{{name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="six wide column">
                                <h4>Your Group</h4>
                                <div class="ui list">
                                    {{#each userGroups}}
                                        <div class="item">
                                            <field>
                                                <div class="ui checkbox">
                                                    <input type="checkbox" id="{{_id}}" name="chooseGroup" style="left:20px;bottom:25px;"/>
                                                    <label for="chooseGroup">{{name}}</label>
                                                </div>
                                            </field>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="four wide column">
                                <br/>
                                <br/>
                                <button class="btn request">Send Request</button>
                            </div>
						</div>
                        </form>
					</div>
				{{/if}}
            </div>
        {{/each}}
    </div>
    </div>
    {{> socialMediaDisplay}}
    {{> videoDisplay}}
</template>