<template name="showSubmit">
    <form class="ui main form page">
        <div class="ui gray top attached label massive form-header">
            Submit Show
	    </div>
        <br/>
	    <br/>
		<br/>
        <h3 class="ui dividing header">General Info</h3>
        <div class="form-group {{errorClass 'name'}}">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
              <input name="name" id="name" type="text" value="" placeholder="Enter show name" class="form-control"/>
              <span class="help-block">{{errorMessage 'name'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'description'}}">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
              <textarea name="description" id="description" value="" placeholder="Enter show description" class="form-control"></textarea>
              <span class="help-block">{{errorMessage 'description'}}</span>
          </div>
        </div>

        <div class="form-group {{errorClass 'venue'}}">
          <label class="control-label" for="venue">Venue</label>
          <div class="controls">
              {{> venueSearch}}
              <span>If you don't see your venue listed you can add it <a href="{{pathFor 'venueSubmit'}}">here</a>.</span>
              <span class="help-block">{{errorMessage 'venue'}}</span>
          </div>
        </div>
        <div class="field">
            <label class="control-label" for="website">Website</label>
            <div class="ui input">
                <input id="website" name="website" class="form-control" placeholder="Enter the website..."/>
            </div>
        </div>
        {{>administratorsSelect}}
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label class="control-label">Ticket Price</label>
                    <div class="ui labeled input">
                        <div class="ui label">$</div>
                        <input id="ticketPrice" name="ticketPrice" type="number" placeholder="Enter a ticket price"/>
                    </div>
               </div>
               <div class="field">
                    <label class="control-label">Ticket Link</label>
                    <div class="ui labeled input">
                        <div class="ui label">http://</div>
                        <input id="ticketLink" name="ticketLink" type="text" placeholder="Enter link for ticket information..."/>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <br/>
            <div class="ui checkbox">
                <input type="checkbox" checked="" id="acceptsSubmissions" name="acceptsSubmissions" />
                <label for="acceptsSubmissions">Accepts Submissions</label>
            </div>
        </div>
        <div class="form-group {{errorClass 'date'}}">
			{{>performersSearch}}
        </div>
		<div class="form-group {{errorClass 'photos'}}">
			{{>imageUpload}}
		</div>
        <div class="form-group {{errorClass 'videos'}}">
            {{>videoAdd}}
        </div>
        <div class="form-group {{errorClass 'socialmedia'}}">
            {{>socialMediaAdd}}
        </div>
		<input type="submit" value="Submit" class="ui primary fluid button"/>
    </form>
</template>

