<template name="personItem">
  <div class="item person">
    {{>imageFeature}}
    <div class="content">
        <br/>
        <div class="header"><a href={{pathFor 'personPage'}}>{{name}}</a></div>
	  <div class="description">
		<p>
          {{bio}}
	    </p>
      </div>
      {{#if isPerson}}
	   <a href="{{pathFor 'personEdit'}}" class="discuss btn btn-default">Edit</a>
      {{/if}}
    </div>
	{{#if isFollowing}}
		<button class="ui red button unfollowbtn" style="align:right">Unfollow</button>
	{{else}}
		<button class="ui blue button followbtn" style="align:right">Follow</button>
	{{/if}}
  </div>
</template>