<template name="personEdit">
  <form class="ui main form page">
	<div class="ui gray top attached label massive form-header">
		Edit Profile
	</div>
	<br/>
	<br/>
	<h3 class="ui dividing header">General Info</h3>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="field">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Enter your name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'bio'}}">
      <label class="control-label" for="bio">Bio</label>
      <div class="field">
          <textarea name="bio" id="bio" type="text" value="{{bio}}" placeholder="Enter your bio" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'bio'}}</span>
      </div>
    </div>
	<div class="form-group {{errorClass 'website'}}">
      <label class="control-label" for="website">Website</label>
      <div class="field">
          <input name="website" id="website" type="text" value="{{website}}" placeholder="Enter your website" class="form-control"/>
          <span class="help-block">{{errorMessage 'website'}}</span>
      </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <br/>
            <input name="isPerformer" type="checkbox" checked={{isPerformer}} id="isPerformer" />
            <label class="control-label" for="isPerformer">Are you a performer?</label>
        </div>
    </div>
    <p>
        If you are you can add/edit shows, venues, and groups. If you are not, then you can see what everyone else is doing.
    </p>
	<div class="form-group {{errorClass 'images'}}">
		{{>imageUpload}}
	</div>
	<div class="form-group {{errorClass 'videos'}}">
		{{>videoAdd}}
	</div>
	<div class="{{errorClass 'socialmedia'}}">
		{{>socialMediaAdd}}
	</div>
    <div class="form-group {{errorClass 'tags'}}">
        {{>tags}}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
  </form>
</template>