<template name="venueSubmit">
  <form class="ui main form page" autocomplete="off">
    <div class="ui gray top attached label massive form-header">
		Submit Venue
	</div>
	<br/>
	<br/>
	<h3 class="ui dividing header">General Info</h3>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Enter venue name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
          <textarea name="description" id="description" type="textarea" value="" placeholder="Enter venue description" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'address1'}}">
      <label class="control-label" for="address1">Address</label>
      <div class="controls">
          <input name="address1" id="address1" type="text" value="" placeholder="Enter address..." class="form-control" autocomplete="off" autocorrect="off"/>
          <div class="geolocation">
            <input type="hidden" name="lat" value=""/>
            <input type="hidden" name="lng" value=""/>
            <input name="formatted_address" type="hidden" value=""/>
          </div>
          <img src="/desktop/powered-by-google-on-white.png"/>
          <span class="help-block">{{errorMessage 'address1'}}</span>
      </div>
    </div>
	<div class="form-group {{errorClass 'address1'}}">
		<label class="control-label" for="website">Website</label>
		<div class="controls">
			<input name="website" id="website" type="text" value="" placeholder="Enter website..." class="form-control"/>
		</div>
	</div>
	<div class="form-group {{errorClass 'videos'}}">
		{{>videoAdd}}
	</div>
	<div class="form-group {{errorClass 'socialmedia'}}">
		{{>socialMediaAdd}}
	</div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>