<template name="venueEdit">
  <form class="ui main form page">
	<div class="ui gray top attached label massive form-header">
		Edit Venue
	</div>
	<br/>
	<br/>
	<h3 class="ui dividing header">General Info</h3>
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Enter venue name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
          <textarea name="description" id="description" type="textarea" value="{{description}}" placeholder="Enter venue description" class="form-control"></textarea>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'address1'}}">
      <label class="control-label" for="address1">Address</label>
      <div class="controls">
          <input name="address1" id="address1" type="text" value="{{address1}}" placeholder="Enter address..." class="form-control" autocomplete="off" autocorrect="off"/>
          <div class="geolocation">
            <input type="hidden" name="lat" value="{{lat}}"/>
            <input type="hidden" name="lng" value="{{lng}}"/>
            <input name="formatted_address" type="hidden" value="{{formatted_address}}"/>
          </div>
          <img src="/desktop/powered-by-google-on-white.png"/>
          <span class="help-block">{{errorMessage 'address1'}}</span>
      </div>
    </div>
	<div class="form-group {{errorClass 'address1'}}">
		<label class="control-label" for="website">Website</label>
		<div class="controls">
			<input name="website" id="website" type="text" value="{{website}}" placeholder="Enter website..." class="form-control"/>
		</div>
	</div>
    {{>administratorsSelect}}
	<div class="form-group {{errorClass 'images'}}">
		{{>imageUpload}}
	</div>	
	<div class="form-group {{errorClass 'videos'}}">
		{{>videoAdd}}
	</div>
	<div class="form-group {{errorClass 'socialmedia'}}">
		{{>socialMediaAdd}}
	</div>
    <div class="form-group {{errorClass 'tags'}}">
        {{>tags}}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
	<hr/>
    <a class="btn btn-danger delete" href="#">Delete Venue</a>
  </form>
</template>
