<template name="venueEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'name'}}">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="{{name}}" placeholder="Enter venue name" class="form-control"/>
          <span class="help-block">{{errorMessage 'name'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
          <input name="description" id="description" type="textarea" value="{{description}}" placeholder="Enter venue description" class="form-control"/>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'address1'}}">
      <label class="control-label" for="address1">Address Line 1</label>
      <div class="controls">
          <input name="address1" id="address1" type="text" value="{{address1}}" placeholder="Enter address line 1" class="form-control"/>
          <span class="help-block">{{errorMessage 'address1'}}</span>
      </div>
      </div>
    <div class="form-group {{errorClass 'address2'}}">
      <label class="control-label" for="address2">Address Line 2</label>
      <div class="controls">
          <input name="address2" id="address2" type="text" value="{{address2}}" placeholder="Enter address line 2" class="form-control"/>
          <span class="help-block">{{errorMessage 'address2'}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">City, State and Zip</label>
      <div class="controls">
        <div class="{{errorClass 'city'}}">
          <input name="city" id="city" type="text" value="{{city}}" placeholder="Enter city" class="form-control"/>
          <span class="help-block">{{errorMessage 'city'}}</span>
        </div>
        <div class="{{errorClass 'state'}}">
          <select name="state" id="state" class="ui search dropdown form-control">
              {{> stateOptions}}
          </select>
          <span class="help-block">{{errorMessage 'state'}}</span>
        </div>
        <div class="{{errorClass 'zipcode'}}">
          <input name="zipcode" id ="zipcode" type="text" value="{{state}}" placeholder="Enter zip code" class="form-control"/>
          <span class="help-block">{{errorMessage 'zipcode'}}</span>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
	<hr/>
    <a class="btn btn-danger delete" href="#">Delete Person</a>
  </form>
</template>
