<template name="showstream">
	{{#if hasStreamShows}}
		<div class="post">
			<h1 class="ui header">
				<i class="feed icon"></i>
				<div class="content noborder">
					Stream
					<div class="sub header">
						You are seeing these shows because you follow the venue, one or more of the performers, or the show itself. Hit the follow button on the left hand side of a person, group, venue, or show to add their shows to your stream.
					</div>
				</div>
			</h1>
		</div>
		<div class="ui feed">
			{{#each streamShows}}
				{{>streamItem}}
			{{/each}}
		</div>
	{{else}}
		<div class="main">
			<p class="importantMessage">Either you are not following anything or nothing you are following has an upcoming show. Go follow stuff, encourage your friends to do more shows, or ask your local venues if they will host a show.</p>
		</div>
	{{/if}}
</template>