<template name="header">
  <a href={{pathFor 'search'}}><img src="/ace_logo.png" style="display:block;margin-left:auto;margin-right:auto"/></a>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li>
            <div class="ui search" style="margin-top:8px">
                <div class="ui icon input">
                    <input type="text" class="prompt" placeholder="Search..." id="search"/>
                    <i class="search icon"></i>
                </div>
            </div>
        </li>
        {{#if currentUser}}
			<li class="{{activeRouteClass 'postSubmit'}}"><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>
			<li class="dropdown">
				{{> notifications}}
            </li>
		{{/if}}
        <li class="{{activeRouteClass 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">Blog</a>
        </li>
	  </ul>

      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>