<template name="header">
  <a href={{pathFor 'search'}}><img src="/ace_logo_smaller.svg" class="ui image fluid" style="display:block;margin-left:auto;margin-right:auto"/></a>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
		<li class="{{activeRouteClass 'search'}}">
			<a href={{pathFor 'search'}}>Search</a>
		</li>
        {{#if currentUser}}
          <li class="{{activeRouteClass 'personEdit'}}  {{activeRouteClass 'personSubmit'}}">
              {{#if hasSubmittedProfile}}
                <a href={{pathFor 'personEdit'}}>Edit Profile</a>
              {{else}}
                <a href={{pathFor 'personSubmit'}}>Fill Out Profile!</a>
              {{/if}}

          </li>
		  <li class="{{activeRouteClass 'stream'}}  {{activeRouteClass 'stream'}}">
			<a href={{pathFor 'showstream'}}>Stream</a>
          </li>
          <li class="{{activeRouteClass 'postSubmit'}}"><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li>
			<li class="dropdown">
				{{> notifications}}
            </li>
		{{/if}}
        <li class="{{activeRouteClass 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">Blog</a>
        </li>
	  </ul>

      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>